body {
	padding-bottom: 40px;
	padding-top: 40px;
	background-color: #eee;
}

.white-tile {
	background-color: #fff;
	border: solid 1px #888;
	padding: 20px;
	border-radius: 3px;
}

.message-panel {
	padding: 10px;
	margin-bottom: 20px;
	font-size: 20px;
}

.message-info {
	font-size: 10px;
	font-weight: bold;
	color: #888;
}

.form-label {
	margin-top: 7px;
}

.form-feedback {
	color: red;
	font-weight: normal;
	list-style-type: none;
}